.edge*/
.ipynb_checkpoints/
.jupyter/
.remote_run_test/
.tools/
fresh_notebook_test/

data/*
!data/mps_lsoa_recent.csv
!data/tfl_cycle_parking.json
!data/town_centres.geojson
!data/lsoa2021.zip

scripts/
*.pyc
*.html
*.pdf

figures/
Template_submission_CASA0006.ipynb
bicycle_theft_density_hotspots_london.ipynb
课件/
workflow_ppt_editable.pptx
~$workflow_ppt_editable.pptx
